# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/example/.vs
/example/Debug
/example/Release
/example/x64
/example/dll/x64
/example/dll/Debug
/example/dll/Release
/example/fakedll/x64
/example/fakedll/Debug
/example/fakedll/Release
/example/test/x64
/example/test/Debug
/example/test/Release
/example/ipch
/example/test.VC.VC.opendb
/example/test.VC.db
